body {
	background-color: #12181B;
	font-family: "Itim", sans-serif;
	font-size: xx-large;
}

p {
	color: white;
}

:root {
	--board-size: 300px;
}

#player-turn-indicator {
	font-size: 3rem;
}

.playerX {
	color: aqua;
}

.playerO {
	color: burlywood;
}

#main {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-height: fit-content;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

#game-wrapper {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

#display-player-turn {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: calc(var(--board-size) / 5);
}

#display-player-turn p {
	margin: 0;
}

#game-board {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	max-width: var(--board-size);
}

.tile {
	min-height: calc(var(--board-size) / 3);
	min-width: calc(var(--board-size) / 3);
	cursor: pointer;

	font-size: 4rem;
	border: 1px solid white;
	display: flex;
	justify-content: center;
	align-items: center;
}