body {
	background-color: #12181B;
	font-family: "Itim", sans-serif;
	font-size: xx-large;
}

p {
	color: white;
}

:root {
	--board-size: 300px;
}

.playerX {
	color: aqua;
}

.playerO {
	color: burlywood;
}

#game-board {
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	max-width: var(--board-size);
}

.tile {
	min-height: calc(var(--board-size) / 3);
	min-width: calc(var(--board-size) / 3);
	cursor: pointer;

	border: 1px solid white;
	display: flex;
	justify-content: center;
	align-items: center;
}