body {
	background-color: #12181B;
	font-family: "Itim", sans-serif;
	font-size: xx-large;
}
p {
	color: white;
}
button {
	outline: none;
	background: none;
	padding: 0;
	border: none;
	position: relative;
}
button:active .top-layer-button {
	transform: translateY(0.15rem);
}
:root {
	--board-size: 300px;
	--def-border-radius: 2mm;
}

#player-turn-indicator {
	font-size: 3rem;
}

.playerX {
	color: aqua;
	color: cadetblue;
}
.playerO {
	color: burlywood;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

#game-wrapper {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

#display-player-turn {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: calc(var(--board-size) / 5);
}

#display-player-turn p {
	margin: 0;
}

#game-board {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	max-width: var(--board-size);
}

.tile {
	min-height: calc(var(--board-size) / 3);
	min-width: calc(var(--board-size) / 3);
	cursor: pointer;

	font-size: 4rem;
	border: 1px solid white;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* button styling */
#declare-winner-tab {
	z-index: 10;
	position: fixed;
	top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);

	width: calc(var(--board-size) * 1.5);
	border-radius: var(--def-border-radius);
	display: none;
	flex-direction: column;

}
#victory-announcer h1 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 3rem;

	background-color: darkseagreen;
	color: white;
	border-top-left-radius: var(--def-border-radius);
	border-top-right-radius: var(--def-border-radius);
	margin: 0;
}
#reset-game-dwt {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-height: fit-content;

	background-color: azure;
	border-bottom-left-radius: var(--def-border-radius);
	border-bottom-right-radius: var(--def-border-radius);
	margin: 0;
	padding: 1rem;
}
.top-layer-button {
	font-size: 1em;
	color: black;
	width: 100%;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
	cursor: pointer;

	background-color: rgb(251, 255, 253);
	font-family: "Itim", sans-serif;

	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;
	z-index: 2;

	border-radius: var(--def-border-radius);
	outline: 2px solid rgb(36, 38, 34);

	transition: 0.2s;
}
.bottom-layer-button {
	width: 100%;
	transform: translateY(-2.3em);
	margin-bottom: -2.3em;
	padding-top: 1em;
	padding-bottom: 1.5em;

	background-color: beige;
	font-family: monospace;

	position: relative;
	z-index: 1;	

	border-radius: var(--def-border-radius);
	outline: 2px solid rgb(36, 38, 34);

	box-shadow: 0px 0.15em 0px 0.125em rgb(171, 171, 171);
}